In [9]:
import pandas as pd

In [10]:
df=pd.read_csv("/home/usamakhan/Documents/PAI/customer.csv")
df.head(5)

    age  gender   review education purchased
0  30.0  Female  Average    School        No
1  68.0  Female     Poor        UG       NaN
2   NaN  Female     Good        PG        No
3  72.0  Female      NaN        PG        No
4  16.0  Female  Average       NaN        No

In [11]:
df.isnull()
df.head(5)

    age  gender   review education purchased
0  30.0  Female  Average    School        No
1  68.0  Female     Poor        UG       NaN
2   NaN  Female     Good        PG        No
3  72.0  Female      NaN        PG        No
4  16.0  Female  Average       NaN        No

In [12]:
df.isnull().sum()

age          1
gender       2
review       1
education    1
purchased    2
dtype: int64

In [13]:
df.isnull().sum().sum()

7

In [14]:
df.notnull()
df.head(5)

    age  gender   review education purchased
0  30.0  Female  Average    School        No
1  68.0  Female     Poor        UG       NaN
2   NaN  Female     Good        PG        No
3  72.0  Female      NaN        PG        No
4  16.0  Female  Average       NaN        No

In [15]:
df.notnull().sum()

age          49
gender       48
review       49
education    49
purchased    48
dtype: int64

In [16]:
df.notnull().sum().sum()

243

In [17]:
df=pd.read_csv("/home/usamakhan/Documents/PAI/customer.csv")
df.head(5)

    age  gender   review education purchased
0  30.0  Female  Average    School        No
1  68.0  Female     Poor        UG       NaN
2   NaN  Female     Good        PG        No
3  72.0  Female      NaN        PG        No
4  16.0  Female  Average       NaN        No

In [18]:
df.dropna()
df.head(5)

    age  gender   review education purchased
0  30.0  Female  Average    School        No
1  68.0  Female     Poor        UG       NaN
2   NaN  Female     Good        PG        No
3  72.0  Female      NaN        PG        No
4  16.0  Female  Average       NaN        No

In [19]:
df.dropna(axis=0)

     age  gender   review education purchased
0   30.0  Female  Average    School        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
21  32.0    Male  Average        PG        No
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [20]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [21]:
df.dropna(how='any')

     age  gender   review education purchased
0   30.0  Female  Average    School        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
21  32.0    Male  Average        PG        No
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [22]:
df.dropna(axis=1,how='all')

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2    NaN  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [23]:
df.dropna(thresh=1)

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2    NaN  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [24]:
df.dropna(subset=['age'])

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [25]:
df.dropna(subset=['gender'])

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2    NaN  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [26]:
df.dropna(thresh=1)

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2    NaN  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [27]:
df.dropna(inplace=False)
df

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2    NaN  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [28]:
df=pd.read_csv("/home/usamakhan/Documents/PAI/customer.csv")
df

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2    NaN  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [29]:
df.fillna(value=2)

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG         2
2    2.0  Female     Good        PG        No
3   72.0  Female        2        PG        No
4   16.0  Female  Average         2        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0       2  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0       2  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG         2
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [30]:
df.fillna({'age':21,"gender":'Male','purchased':'No'})

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG        No
2   21.0  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0    Male  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0    Male  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG        No
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [31]:
df.fillna(method='ffill')

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG        No
2   68.0  Female     Good        PG        No
3   72.0  Female     Good        PG        No
4   16.0  Female  Average        PG        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0    Male  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0    Male  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG        No
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [32]:
df.fillna(method='bfill',axis=1)

       age   gender   review education purchased
0     30.0   Female  Average    School        No
1     68.0   Female     Poor        UG       NaN
2   Female   Female     Good        PG        No
3     72.0   Female       PG        PG        No
4     16.0   Female  Average        No        No
5     31.0   Female  Average    School       Yes
6     18.0     Male     Good    School        No
7     60.0   Female     Poor    School       Yes
8     65.0   Female  Average        UG        No
9     74.0     Male     Good        UG       Yes
10    98.0   Female     Good        UG       Yes
11    74.0     Male     Good        UG       Yes
12    51.0     Male     Poor    School        No
13    57.0  Average  Average    School        No
14    15.0     Male     Poor        UG       Yes
15    75.0     Male     Poor        UG        No
16    59.0     Male     Poor        UG       Yes
17    22.0   Female     Poor        UG       Yes
18    19.0     Male     Good    School        No
19    97.0     Male     Poor        PG       Yes
20    57.0  Average  Average    School       Yes
21    32.0     Male  Average        PG        No
22    18.0   Female     Poor        PG       NaN
23    96.0   Female     Good    School        No
24    16.0   Female  Average        PG       Yes
25    57.0   Female     Good    School        No
26    53.0   Female     Poor        PG        No
27    69.0   Female     Poor        PG        No
28    48.0     Male     Poor    School        No
29    83.0   Female  Average        UG       Yes
30    73.0     Male  Average        UG        No
31    22.0   Female     Poor    School       Yes
32    92.0     Male  Average        UG       Yes
33    89.0   Female     Good        PG       Yes
34    86.0     Male  Average    School        No
35    74.0     Male     Poor    School       Yes
36    34.0   Female     Good        UG       Yes
37    94.0     Male  Average        PG       Yes
38    45.0   Female     Good    School        No
39    76.0     Male     Poor        PG        No
40    39.0     Male     Good    School        No
41    23.0     Male     Good        PG       Yes
42    30.0   Female     Good        PG       Yes
43    27.0     Male     Poor        PG        No
44    77.0   Female  Average        UG        No
45    61.0     Male     Poor        PG       Yes
46    64.0   Female     Poor        PG        No
47    38.0   Female     Good        PG       Yes
48    39.0   Female     Good        UG       Yes
49    25.0   Female     Good        UG        No

In [33]:
df.fillna(method='bfill',limit=1)

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG        No
2   72.0  Female     Good        PG        No
3   72.0  Female  Average        PG        No
4   16.0  Female  Average    School        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0    Male  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0    Male  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG        No
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [34]:
df

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2    NaN  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [35]:
df.fillna(method='ffill',inplace=True)
df

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG        No
2   68.0  Female     Good        PG        No
3   72.0  Female     Good        PG        No
4   16.0  Female  Average        PG        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0    Male  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0    Male  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG        No
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [36]:
df.replace(to_replace='Female',value='Male')

     age gender   review education purchased
0   30.0   Male  Average    School        No
1   68.0   Male     Poor        UG        No
2   68.0   Male     Good        PG        No
3   72.0   Male     Good        PG        No
4   16.0   Male  Average        PG        No
5   31.0   Male  Average    School       Yes
6   18.0   Male     Good    School        No
7   60.0   Male     Poor    School       Yes
8   65.0   Male  Average        UG        No
9   74.0   Male     Good        UG       Yes
10  98.0   Male     Good        UG       Yes
11  74.0   Male     Good        UG       Yes
12  51.0   Male     Poor    School        No
13  57.0   Male  Average    School        No
14  15.0   Male     Poor        UG       Yes
15  75.0   Male     Poor        UG        No
16  59.0   Male     Poor        UG       Yes
17  22.0   Male     Poor        UG       Yes
18  19.0   Male     Good    School        No
19  97.0   Male     Poor        PG       Yes
20  57.0   Male  Average    School       Yes
21  32.0   Male  Average        PG        No
22  18.0   Male     Poor        PG        No
23  96.0   Male     Good    School        No
24  16.0   Male  Average        PG       Yes
25  57.0   Male     Good    School        No
26  53.0   Male     Poor        PG        No
27  69.0   Male     Poor        PG        No
28  48.0   Male     Poor    School        No
29  83.0   Male  Average        UG       Yes
30  73.0   Male  Average        UG        No
31  22.0   Male     Poor    School       Yes
32  92.0   Male  Average        UG       Yes
33  89.0   Male     Good        PG       Yes
34  86.0   Male  Average    School        No
35  74.0   Male     Poor    School       Yes
36  34.0   Male     Good        UG       Yes
37  94.0   Male  Average        PG       Yes
38  45.0   Male     Good    School        No
39  76.0   Male     Poor        PG        No
40  39.0   Male     Good    School        No
41  23.0   Male     Good        PG       Yes
42  30.0   Male     Good        PG       Yes
43  27.0   Male     Poor        PG        No
44  77.0   Male  Average        UG        No
45  61.0   Male     Poor        PG       Yes
46  64.0   Male     Poor        PG        No
47  38.0   Male     Good        PG       Yes
48  39.0   Male     Good        UG       Yes
49  25.0   Male     Good        UG        No

In [37]:
df.replace(to_replace=[30,68,68],value=5)

     age  gender   review education purchased
0    5.0  Female  Average    School        No
1    5.0  Female     Poor        UG        No
2    5.0  Female     Good        PG        No
3   72.0  Female     Good        PG        No
4   16.0  Female  Average        PG        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0    Male  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0    Male  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG        No
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42   5.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [38]:
df.replace(to_replace={'gender':'Female'},value='None')

     age gender   review education purchased
0   30.0   None  Average    School        No
1   68.0   None     Poor        UG        No
2   68.0   None     Good        PG        No
3   72.0   None     Good        PG        No
4   16.0   None  Average        PG        No
5   31.0   None  Average    School       Yes
6   18.0   Male     Good    School        No
7   60.0   None     Poor    School       Yes
8   65.0   None  Average        UG        No
9   74.0   Male     Good        UG       Yes
10  98.0   None     Good        UG       Yes
11  74.0   Male     Good        UG       Yes
12  51.0   Male     Poor    School        No
13  57.0   Male  Average    School        No
14  15.0   Male     Poor        UG       Yes
15  75.0   Male     Poor        UG        No
16  59.0   Male     Poor        UG       Yes
17  22.0   None     Poor        UG       Yes
18  19.0   Male     Good    School        No
19  97.0   Male     Poor        PG       Yes
20  57.0   Male  Average    School       Yes
21  32.0   Male  Average        PG        No
22  18.0   None     Poor        PG        No
23  96.0   None     Good    School        No
24  16.0   None  Average        PG       Yes
25  57.0   None     Good    School        No
26  53.0   None     Poor        PG        No
27  69.0   None     Poor        PG        No
28  48.0   Male     Poor    School        No
29  83.0   None  Average        UG       Yes
30  73.0   Male  Average        UG        No
31  22.0   None     Poor    School       Yes
32  92.0   Male  Average        UG       Yes
33  89.0   None     Good        PG       Yes
34  86.0   Male  Average    School        No
35  74.0   Male     Poor    School       Yes
36  34.0   None     Good        UG       Yes
37  94.0   Male  Average        PG       Yes
38  45.0   None     Good    School        No
39  76.0   Male     Poor        PG        No
40  39.0   Male     Good    School        No
41  23.0   Male     Good        PG       Yes
42  30.0   None     Good        PG       Yes
43  27.0   Male     Poor        PG        No
44  77.0   None  Average        UG        No
45  61.0   Male     Poor        PG       Yes
46  64.0   None     Poor        PG        No
47  38.0   None     Good        PG       Yes
48  39.0   None     Good        UG       Yes
49  25.0   None     Good        UG        No

In [39]:
df.replace(to_replace='[A-za-z]',value='2',regex=True)

     age  gender   review education purchased
0   30.0  222222  2222222    222222        22
1   68.0  222222     2222        22        22
2   68.0  222222     2222        22        22
3   72.0  222222     2222        22        22
4   16.0  222222  2222222        22        22
5   31.0  222222  2222222    222222       222
6   18.0    2222     2222    222222        22
7   60.0  222222     2222    222222       222
8   65.0  222222  2222222        22        22
9   74.0    2222     2222        22       222
10  98.0  222222     2222        22       222
11  74.0    2222     2222        22       222
12  51.0    2222     2222    222222        22
13  57.0    2222  2222222    222222        22
14  15.0    2222     2222        22       222
15  75.0    2222     2222        22        22
16  59.0    2222     2222        22       222
17  22.0  222222     2222        22       222
18  19.0    2222     2222    222222        22
19  97.0    2222     2222        22       222
20  57.0    2222  2222222    222222       222
21  32.0    2222  2222222        22        22
22  18.0  222222     2222        22        22
23  96.0  222222     2222    222222        22
24  16.0  222222  2222222        22       222
25  57.0  222222     2222    222222        22
26  53.0  222222     2222        22        22
27  69.0  222222     2222        22        22
28  48.0    2222     2222    222222        22
29  83.0  222222  2222222        22       222
30  73.0    2222  2222222        22        22
31  22.0  222222     2222    222222       222
32  92.0    2222  2222222        22       222
33  89.0  222222     2222        22       222
34  86.0    2222  2222222    222222        22
35  74.0    2222     2222    222222       222
36  34.0  222222     2222        22       222
37  94.0    2222  2222222        22       222
38  45.0  222222     2222    222222        22
39  76.0    2222     2222        22        22
40  39.0    2222     2222    222222        22
41  23.0    2222     2222        22       222
42  30.0  222222     2222        22       222
43  27.0    2222     2222        22        22
44  77.0  222222  2222222        22        22
45  61.0    2222     2222        22       222
46  64.0  222222     2222        22        22
47  38.0  222222     2222        22       222
48  39.0  222222     2222        22       222
49  25.0  222222     2222        22        22

In [40]:
df.replace(to_replace={'gender':'[A-za-z]'},value='2',regex=True)

     age  gender   review education purchased
0   30.0  222222  Average    School        No
1   68.0  222222     Poor        UG        No
2   68.0  222222     Good        PG        No
3   72.0  222222     Good        PG        No
4   16.0  222222  Average        PG        No
5   31.0  222222  Average    School       Yes
6   18.0    2222     Good    School        No
7   60.0  222222     Poor    School       Yes
8   65.0  222222  Average        UG        No
9   74.0    2222     Good        UG       Yes
10  98.0  222222     Good        UG       Yes
11  74.0    2222     Good        UG       Yes
12  51.0    2222     Poor    School        No
13  57.0    2222  Average    School        No
14  15.0    2222     Poor        UG       Yes
15  75.0    2222     Poor        UG        No
16  59.0    2222     Poor        UG       Yes
17  22.0  222222     Poor        UG       Yes
18  19.0    2222     Good    School        No
19  97.0    2222     Poor        PG       Yes
20  57.0    2222  Average    School       Yes
21  32.0    2222  Average        PG        No
22  18.0  222222     Poor        PG        No
23  96.0  222222     Good    School        No
24  16.0  222222  Average        PG       Yes
25  57.0  222222     Good    School        No
26  53.0  222222     Poor        PG        No
27  69.0  222222     Poor        PG        No
28  48.0    2222     Poor    School        No
29  83.0  222222  Average        UG       Yes
30  73.0    2222  Average        UG        No
31  22.0  222222     Poor    School       Yes
32  92.0    2222  Average        UG       Yes
33  89.0  222222     Good        PG       Yes
34  86.0    2222  Average    School        No
35  74.0    2222     Poor    School       Yes
36  34.0  222222     Good        UG       Yes
37  94.0    2222  Average        PG       Yes
38  45.0  222222     Good    School        No
39  76.0    2222     Poor        PG        No
40  39.0    2222     Good    School        No
41  23.0    2222     Good        PG       Yes
42  30.0  222222     Good        PG       Yes
43  27.0    2222     Poor        PG        No
44  77.0  222222  Average        UG        No
45  61.0    2222     Poor        PG       Yes
46  64.0  222222     Poor        PG        No
47  38.0  222222     Good        PG       Yes
48  39.0  222222     Good        UG       Yes
49  25.0  222222     Good        UG        No

In [41]:
df.replace(to_replace='Female',method='bfill',limit=2)

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG        No
2   68.0  Female     Good        PG        No
3   72.0  Female     Good        PG        No
4   16.0    Male  Average        PG        No
5   31.0    Male  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0    Male     Poor    School       Yes
8   65.0    Male  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0    Male     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0    Male  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0    Male     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0    Male  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG        No
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0    Male     Poor        PG        No
27  69.0    Male     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0    Male  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0    Male     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0    Male     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0    Male     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0    Male     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0    Male     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0    Male  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [42]:
df

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG        No
2   68.0  Female     Good        PG        No
3   72.0  Female     Good        PG        No
4   16.0  Female  Average        PG        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0    Male  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0    Male  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG        No
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [43]:
df=pd.read_csv("/home/usamakhan/Documents/PAI/customer.csv")
df

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2    NaN  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [44]:
df.interpolate(method='index')

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2   70.0  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [45]:
df.interpolate(method='linear')

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2   70.0  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [46]:
df.interpolate(method='index')

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2   70.0  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [47]:
df.interpolate(method='nearest')

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2   68.0  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [48]:
df.interpolate(method='polynomial',order=2)

          age  gender   review education purchased
0   30.000000  Female  Average    School        No
1   68.000000  Female     Poor        UG       NaN
2   89.371338  Female     Good        PG        No
3   72.000000  Female      NaN        PG        No
4   16.000000  Female  Average       NaN        No
5   31.000000  Female  Average    School       Yes
6   18.000000    Male     Good    School        No
7   60.000000  Female     Poor    School       Yes
8   65.000000  Female  Average        UG        No
9   74.000000    Male     Good        UG       Yes
10  98.000000  Female     Good        UG       Yes
11  74.000000    Male     Good        UG       Yes
12  51.000000    Male     Poor    School        No
13  57.000000     NaN  Average    School        No
14  15.000000    Male     Poor        UG       Yes
15  75.000000    Male     Poor        UG        No
16  59.000000    Male     Poor        UG       Yes
17  22.000000  Female     Poor        UG       Yes
18  19.000000    Male     Good    School        No
19  97.000000    Male     Poor        PG       Yes
20  57.000000     NaN  Average    School       Yes
21  32.000000    Male  Average        PG        No
22  18.000000  Female     Poor        PG       NaN
23  96.000000  Female     Good    School        No
24  16.000000  Female  Average        PG       Yes
25  57.000000  Female     Good    School        No
26  53.000000  Female     Poor        PG        No
27  69.000000  Female     Poor        PG        No
28  48.000000    Male     Poor    School        No
29  83.000000  Female  Average        UG       Yes
30  73.000000    Male  Average        UG        No
31  22.000000  Female     Poor    School       Yes
32  92.000000    Male  Average        UG       Yes
33  89.000000  Female     Good        PG       Yes
34  86.000000    Male  Average    School        No
35  74.000000    Male     Poor    School       Yes
36  34.000000  Female     Good        UG       Yes
37  94.000000    Male  Average        PG       Yes
38  45.000000  Female     Good    School        No
39  76.000000    Male     Poor        PG        No
40  39.000000    Male     Good    School        No
41  23.000000    Male     Good        PG       Yes
42  30.000000  Female     Good        PG       Yes
43  27.000000    Male     Poor        PG        No
44  77.000000  Female  Average        UG        No
45  61.000000    Male     Poor        PG       Yes
46  64.000000  Female     Poor        PG        No
47  38.000000  Female     Good        PG       Yes
48  39.000000  Female     Good        UG       Yes
49  25.000000  Female     Good        UG        No

In [49]:
df.dtypes

age          float64
gender        object
review        object
education     object
purchased     object
dtype: object

In [51]:
df.interpolate(limit=1)

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2   70.0  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [52]:
df.interpolate(limit_direction='backward',limit=1)

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2   70.0  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [53]:
df.interpolate(limit_direction='both',limit=1)

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2   70.0  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [54]:
df.interpolate(limit_area='inside')

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2   70.0  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [55]:
df.interpolate(limit_area='outside')

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2    NaN  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [56]:
df.interpolate(inplace=True)
df

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2   70.0  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [57]:
df

     age  gender   review education purchased
0   30.0  Female  Average    School        No
1   68.0  Female     Poor        UG       NaN
2   70.0  Female     Good        PG        No
3   72.0  Female      NaN        PG        No
4   16.0  Female  Average       NaN        No
5   31.0  Female  Average    School       Yes
6   18.0    Male     Good    School        No
7   60.0  Female     Poor    School       Yes
8   65.0  Female  Average        UG        No
9   74.0    Male     Good        UG       Yes
10  98.0  Female     Good        UG       Yes
11  74.0    Male     Good        UG       Yes
12  51.0    Male     Poor    School        No
13  57.0     NaN  Average    School        No
14  15.0    Male     Poor        UG       Yes
15  75.0    Male     Poor        UG        No
16  59.0    Male     Poor        UG       Yes
17  22.0  Female     Poor        UG       Yes
18  19.0    Male     Good    School        No
19  97.0    Male     Poor        PG       Yes
20  57.0     NaN  Average    School       Yes
21  32.0    Male  Average        PG        No
22  18.0  Female     Poor        PG       NaN
23  96.0  Female     Good    School        No
24  16.0  Female  Average        PG       Yes
25  57.0  Female     Good    School        No
26  53.0  Female     Poor        PG        No
27  69.0  Female     Poor        PG        No
28  48.0    Male     Poor    School        No
29  83.0  Female  Average        UG       Yes
30  73.0    Male  Average        UG        No
31  22.0  Female     Poor    School       Yes
32  92.0    Male  Average        UG       Yes
33  89.0  Female     Good        PG       Yes
34  86.0    Male  Average    School        No
35  74.0    Male     Poor    School       Yes
36  34.0  Female     Good        UG       Yes
37  94.0    Male  Average        PG       Yes
38  45.0  Female     Good    School        No
39  76.0    Male     Poor        PG        No
40  39.0    Male     Good    School        No
41  23.0    Male     Good        PG       Yes
42  30.0  Female     Good        PG       Yes
43  27.0    Male     Poor        PG        No
44  77.0  Female  Average        UG        No
45  61.0    Male     Poor        PG       Yes
46  64.0  Female     Poor        PG        No
47  38.0  Female     Good        PG       Yes
48  39.0  Female     Good        UG       Yes
49  25.0  Female     Good        UG        No

In [58]:
df.loc[0]

age             30.0
gender        Female
review       Average
education     School
purchased         No
Name: 0, dtype: object

In [59]:
df.loc[[0,1]]

    age  gender   review education purchased
0  30.0  Female  Average    School        No
1  68.0  Female     Poor        UG       NaN

In [60]:
df.loc[2,'gender']

'Female'

In [61]:
df.loc[0:3,'age']

0    30.0
1    68.0
2    70.0
3    72.0
Name: age, dtype: float64

In [62]:
df.loc[df['age']>50,['gender']]

    gender
1   Female
2   Female
3   Female
7   Female
8   Female
9     Male
10  Female
11    Male
12    Male
13     NaN
15    Male
16    Male
19    Male
20     NaN
23  Female
25  Female
26  Female
27  Female
29  Female
30    Male
32    Male
33  Female
34    Male
35    Male
37    Male
39    Male
44  Female
45    Male
46  Female

In [63]:
df.iloc[[0]]

    age  gender   review education purchased
0  30.0  Female  Average    School        No

In [64]:
df.iloc[:,0]

0     30.0
1     68.0
2     70.0
3     72.0
4     16.0
5     31.0
6     18.0
7     60.0
8     65.0
9     74.0
10    98.0
11    74.0
12    51.0
13    57.0
14    15.0
15    75.0
16    59.0
17    22.0
18    19.0
19    97.0
20    57.0
21    32.0
22    18.0
23    96.0
24    16.0
25    57.0
26    53.0
27    69.0
28    48.0
29    83.0
30    73.0
31    22.0
32    92.0
33    89.0
34    86.0
35    74.0
36    34.0
37    94.0
38    45.0
39    76.0
40    39.0
41    23.0
42    30.0
43    27.0
44    77.0
45    61.0
46    64.0
47    38.0
48    39.0
49    25.0
Name: age, dtype: float64

In [65]:
df.iloc[[0,1]]

    age  gender   review education purchased
0  30.0  Female  Average    School        No
1  68.0  Female     Poor        UG       NaN